.rightnav {
  position: fixed;
  bottom: 40vh;
  right: 0px;
  z-index: 1;
}
.menu {
  background-color: orange;
  height: 20px;
  width: 125px;
  margin-top: 20px;
  border-radius: 25px 0px 0px 25px;
}
.main-background {
  background-image: url('https://static.pexels.com/photos/36063/pexels-photo.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.main-content {
  background-color: hsla(130, 48%, 18%, .75);
  height: 88vh;
  width: 94vw;
  color: white;
  margin-top: 6vh;
}
